:root {
  --first-color: #307d33;
  --second-color: #53c758;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 1rem;
}
